<!-- catalog/templates/catalog/product_detail.html -->
{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>

        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
        {% endif %}

        <p>Цена: {{ product.price }}</p>
        <p>Категория: {{ product.category }}</p>

        {% if product.active_version %}
            <p>Активная версия: {{ product.active_version.version_number }} - {{ product.active_version.version_name }}</p>
        {% else %}
            <p>Нет активной версии</p>
        {% endif %}

        <!-- Добавление проверки наличия прав для редактирования и удаления продукта -->
        {% if user.is_authenticated %}
            <div class="buttons mt-3">
                <a href="{% url 'catalog:edit_product' product_id=product.id %}" class="btn btn-outline-warning">Редактировать</a>
                <a href="{% url 'catalog:delete_product' product_id=product.id %}" class="btn btn-outline-danger">Удалить</a>
            </div>
        {% endif %}

        <div class="versions mt-3">
            <h2>Версии продукта</h2>
            {% for version in versions %}
                <p>{{ version.version_number }} - {{ version.version_name }} {% if version.is_active %}(Активная){% endif %}</p>
            {% endfor %}

            <!-- Добавление формы для добавления новой версии -->
            {% if user.is_authenticated %}
                <form method="post" class="mt-3">
                    {% csrf_token %}
                    {{ version_form.as_p }}
                    <button type="submit" class="btn btn-primary">Добавить версию</button>
                </form>
                <a href="{% url 'catalog:product_list' %}" class="btn btn-primary mt-3">Вернуться в список продуктов</a>
            {% endif %}
        </div>

        <a href="{% url 'catalog:home' %}" class="btn btn-secondary mt-3">Вернуться в каталог</a>
    </div>
{% endblock %}
