<!-- blog/templates/blog/post_list.html -->
{% extends "mailing_service/base.html" %}
{% load mediapath %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>Список постов блога</h1>
  <div class="mb-3"></div>

  <!-- Добавляем кнопку "Создать статью" -->
  {% if user_in_content_managers_group %}
    <a href="{% url 'blog:post_create' %}" class="btn btn-primary">Создать новую статью</a>
  {% endif %}

  <div class="mb-3"></div>
  <div class="posts">
    {% for post in posts %}
      <div class="post">
        <h2><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></h2>
        {% if post.image %}
          <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100%;">
        {% endif %}
        <p>{{ post.content|truncatewords:30 }}</p>  {# Показывает только часть содержимого статьи #}
        <p>Просмотры: {{ post.views }}</p>
        <p>Дата публикации: {{ post.publication_date }}</p>
      </div>
    {% empty %}
      <p>Пока нет ни одного поста.</p>
    {% endfor %}
  </div>

  <!-- Навигация по страницам -->
  {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">Первая</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a></li>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="page-item active"><span class="page-link">{{ num }}</span></li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a></li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}
