<!-- users/templates/users/login.html -->
{% extends 'base.html' %}
{% load mediapath %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Вход</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <div class="mb-3"></div> <!-- Добавленный элемент с пробелом -->
                        <button type="submit" class="btn btn-outline-primary">Войти</button>
                        <a type="button" class="btn btn-outline-primary" href="{% url 'users:password_reset' %}">Сбросить пароль</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
