<!-- users/templates/users/register.html -->
{% extends 'mailing_service/base.html' %}
{% load mediapath %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Регистрация</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <button type="submit" class="mt-4 btn btn-success">Регистрация</button>
                    </form>
                    <div class="mb-2"></div>
                    <a type="button" class="btn btn-primary" href="{% url 'users:login' %}">Вернуться к странице входа</a><br>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
