{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
  <h1>{{ object.title }}</h1>
  <p>{{ object.content }}</p>
  {% if object.preview_image %}
    <img src="{{ object.preview_image.url }}" alt="{{ object.title }}" class="img-fluid">
    <br>
  {% endif %}
  <br>
  <p>Дата создания: {{ object.created_at }}</p>
  <p>Количество просмотров: {{ object.views }}</p>
  <a href="{% url 'blogpost:post_edit' slug=object.slug %}" class="btn btn-outline-primary">Редактировать</a>
  <a href="{% url 'blogpost:post_delete' slug=object.slug %}" class="btn btn-outline-danger">Удалить</a>
  <br>
  <a class="btn btn-outline-primary mt-3" href="{% url 'blogpost:post_list' %}">Вернуться на главную страницу блога</a>
{% endblock %}
