{% extends 'base.html' %}

{% block title %}Список продуктов{% endblock %}

{% block content %}
    <div class="container">
        <h1>Список продуктов</h1>
        {% for product in products %}
            <div class="product">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <!-- Остальные поля продукта -->
            </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if products.has_previous %}
                    <a href="?page=1">&laquo; первая</a>
                    <a href="?page={{ products.previous_page_number }}">предыдущая</a>
                {% endif %}

                <span class="current">
                    Страница {{ products.number }} из {{ products.paginator.num_pages }}.
                </span>

                {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}">следующая</a>
                    <a href="?page={{ products.paginator.num_pages }}">последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
