<!-- mailing_service/templates/mailing_service/log_list.html -->

{% extends 'mailing_service/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>Список логов рассылки</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Название рассылки</th>
        <th>Дата и время последней попытки</th>
        <th>Статус попытки</th>
        <th>Ответ почтового сервера</th>
      </tr>
    </thead>
    <tbody>
      {% for log in logs %}
        <tr>
          <td>{{ log.message.mailing.title }}</td>
          <td>{{ log.attempt_time }}</td>
          <td>{{ log.status }}</td>
          <td>{{ log.response }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">Нет доступных логов рассылки.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Навигация по страницам -->
  {% if is_paginated %}
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; Первая</a>
        <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
      {% endif %}

      <span class="current">
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
      {% endif %}
    </span>
  </div>
  {% endif %}
{% endblock %}