<!-- templates/mailing_service/mailing_form.html -->
{% extends 'mailing_service/base.html' %}
{% load static %}
{% load mediapath %}
{% load crispy_forms_filters %}
{% block title %}Создание рассылки - Spam Service{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h2>Создание рассылки</h2>
        <div class="row mt-4">
            <div class="col-md-6">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                {{ form.media }}
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_title">Название рассылки:</label>
                        {{ form.title }}
                    </div>
                    <div class="form-group">
                        <label for="id_content">Содержание рассылки:</label>
                        {{ form.content }}
                    </div>
                    <div class="form-group">
                        <label for="id_start_time">Дата и время начала рассылки:</label>
                        {{ form.start_time }}
                    </div>
                    <div class="form-group">
                        <label for="id_end_time">Дата и время окончания рассылки:</label>
                        {{ form.end_time }}
                    </div>
                    <div class="form-group">
                        <label for="id_status">Статус рассылки:</label>
                        {{ form.status }}
                    </div>
                    <div class="form-group">
                        <label for="id_frequency">Период рассылки:</label>
                        {{ form.frequency }}
                    </div>
                    <div class="form-group">
                        <label for="id_time_of_day">Время выполнения рассылки:</label>
                        {{ form.time_of_day }}
                    </div>
                    <div class="form-group">
                        <label for="id_clients">Клиенты для рассылки:</label>
                        {{ form.clients }}
                    </div>
                    <button type="submit" class="btn btn-success">Создать рассылку</button>
                    <a href="{% url 'mailing_service:mailing_list' %}" class="btn btn-secondary">Отмена</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
