<!-- templates/mailing_service/message_list.html -->
{% extends 'mailing_service/base.html' %}
{% block title %}Список сообщений - Spam Service{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h2>Список сообщений</h2>
        <div class="row mt-4">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Заголовок</th>
                            <th scope="col">Содержание</th>
                            <th scope="col">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for message in messages %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ message.subject }}</td>
                                <td>{{ message.body }}</td>
                                <td>
                                    <a href="{% url 'mailing_service:message_update' message.pk %}" class="btn btn-primary btn-sm">Редактировать</a>
                                    <a href="{% url 'mailing_service:message_delete' message.pk %}" class="btn btn-danger btn-sm">Удалить</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
